// COLORS
$color-primary: linear-gradient(to right bottom, rgba(#787878, 0.0),rgba(#010101, 0.0));
$color-secondary: teal;

$color-error: #c00000;
$color-success: #069412;

$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
$icon-font-size-small: 1.2rem;

// COLORS
// $color-primary: #1D1160;
$color-primary-light: #A239CA;
$color-primary-dark: #28b485;

// $color-secondary: #00788C;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #afb2b4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;

$margin-top-medium: 4rem;


// // FONT
// $default-font-size: 1.6rem;
$fontSize-3: 3rem;
$fontSize-2_5: 2.5rem;
$fontSize-2: 2rem;
$fontSize-small: 1rem;


// // GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// // Boarders
$border-radius-small: 5px;
// Define base colors as variables for easy maintenance and reusability
$color-light-grey: #555;
$color-light-background: #f7f7f7;
$color-button-blue: #0044cc;
$color-button-blue-hover: #003399;
