.normNav {
    border: none;
    position: absolute;
    z-index: 1000;
    height: 0rem;
    // margin-right: 2rem;

    width: 98%;
    &__nav {
      float: right;
    //   right: 1rem;
      opacity: .9;
      &-bar {
        margin-right: 2rem;
      }
    }
  
    &__item {
      height: 5rem;
      border: none;
      padding: 3rem 3rem;
    //   margin-right: 2rem;
      font-size: $fontSize-2;
      @include respond(big-desktop) {
        font-size: $fontSize-2_5;
      }
      background-color: inherit;
      color: white;
      transition: color .2s;
    }
  
    &__item:hover {
      color: $color-grey-light-1;
      cursor: pointer;
    }
  
    &__item:focus {
      outline: none;
      color: $color-black;
    }
  }